*.pyc
*__pycache__
*.ipynb_checkpoints
*.json
01_twoSum
02_twoSum
03_twoSum
01_fizzBuzz
04_singleNumber
05_maxDFSBT
06_majorityElement
01_moveZeros
02_inorderTraversal
03_preorderTraversal
04_postorderTraversal
07_kFrequnce
05_oddEvenLinkedList
06_oddEvenValueSplit
07_oddEvenNodeSwap
05_oddEvenNodeSplit
./rmcppBinary.sh
08_stockBuySell
08_stockBuySellOneTrans
09_stockBuySellMultiTrans
02_sumNums
04_inverseInt
10_mostWaterContain
04_productExceptSelf
09_reverseString
